<%= render partial: 'users/errors', locals: {record: @user} %>
<%= flash[:alert] %>

<div class="form"><h1>Sign In</h1><br>

<%= form_for :user do |f| %>
    <p><%= f.label :username %></p>
    <%= f.text_field :username %>
    <p><%= f.label :password %></p>
    <%= f.password_field :password %><br><br>
    <%= f.submit "Sign In", class: 'submit-btn' %>
<% end %>