<h1><%= @watchlist.name %></h1>
<p><i><%= @watchlist.description %></i></p>
<%= form_tag(edit_watchlist_path(@watchlist), method:'GET', enforce_utf8: false) do %>
    <%= submit_tag "Edit Watchlist", name: nil %>
<% end %>
    
<br><br>
<h2><%= Watchlist.roll_up_secs(@watchlist).count %> Securities</h2>
<%= form_tag(watchlist_securities_path(@watchlist), method:'GET', enforce_utf8: false) do %>
    <%= submit_tag "View Securities", name: nil %>
<% end %>

<br>
<h2>Recent Performance:</h2>
<p>Total Watchlist Value: $<%= Watchlist.total_up(@watchlist, "latestPrice").round(2) %></p>
<p>Total Change: $<%= Watchlist.total_up(@watchlist, 'change').round(2) %> (<%= Watchlist.total_change(@watchlist) %>%)</p>