<h1><%= @watchlist.name %></h1>
<p><i><%= @watchlist.description %></i></p>
<%= form_tag(edit_watchlist_path(@watchlist), method:'GET') do %>
    <%= submit_tag "Edit Watchlist" %>
<% end %>
    
<br>
<h2>Securities (<%= Watchlist.roll_up_secs(@watchlist).count %>)</h2>
<ul><% Watchlist.roll_up_secs(@watchlist).each do |sec| %>
    <li><%= sec.symbol %> -<%= sec.change %> - <%= sec.changePercent %> - <%= sec.previousClose %></li>
<% end %></ul>
<br>

<h3>Total Value: <%= Watchlist.total_up(@watchlist, "latestPrice") %></h3>
<h3>Total Change %: <%= Watchlist.total_change(@watchlist) %></h3>