<%= form_for @user do |f| %>
    <p><%= f.label :name %></p>
    <%= f.text_field :name %>
    <p><%= f.label :username %></p>
    <%= f.text_field :username %>
    <p><%= f.label :password %></p>
    <%= f.password_field :password %>
    <p><%= f.label :password_confirm, "Confirm Password: " %></p>
    <%= f.password_field :password_confirm %><br><br>
    <%= f.submit class: 'submit-btn' %>
<% end %>