<h1>Hello <%= current_user.name %></h1><br><br><br>

<div class="button_list">
    <h2><u>Profile Actions</u></h2></br>

    <%= form_tag(edit_user_path(current_user), method: 'GET') do %>
        <%= submit_tag "Edit Profile Details" %>
    <% end %>

    <%= form_tag(signout_path) do %>
        <%= submit_tag "Sign Out" %>
    <% end %>

    <%= form_tag("/users/#{current_user.id}", method: "DELETE") do %>
        <%= submit_tag "Delete Profile" %>
    <% end %>
</div>
<br><br>
<h2><u>My Portfolio</u></h2>

<%= render partial: 'securities/display_table', locals: {secs: @securities, template: 'user'} %>