<h1>Hello <%= current_user.name %></h1><br><br><br>

<div class="button_list">
    <h2><u>Profile Actions</u></h2></br>

    <%= form_tag(edit_user_path(current_user), method: 'GET') do %>
        <%= submit_tag "Edit Profile Details" %>
    <% end %>

    <%= form_tag(signout_path) do %>
        <%= submit_tag "Sign Out" %>
    <% end %>

    <%= form_tag("/users/#{current_user.id}", method: "DELETE") do %>
        <%= submit_tag "Delete Profile" %>
    <% end %>
</div>
<br><br>
<h2><u>My Portfolio</u></h2>

<table id="sec-index-table">
    <tr>
        <th>Symbol</th>
        <th>Company</th>
        <th>Latest Volume</th>
        <th>Latest Price</th>
        <th>Price Change</th>
        <th>Percent Change</th>
        <th>Change YTD</th>
        <th>Watchlists</th>
        <th>Info & Actions</th>
    <tr>
    <% @securities.each do |sec| %>
        <tr>
            <td><%= sec.symbol %></td>
            <td><%= sec.companyName %></td>
            <td><%= sec.latestVolume %></td>
            <td><%= sec.latestPrice %></td>
            <td><%= sec.change %></td>
            <td><%= sec.changePercent %></td>
            <td><%= sec.ytdChange %></td>
            <td><%= sec.watchlists.count %></td>
            <td><%= link_to "See Details", security_path(sec), class:"table-link" %></td>
        </tr>
    <% end %>
</table>

<%= link_to "Add a new Security", securities_find_path %>