<h1>Recently Searched Securities</h1>

<table id="sec-index-table">
    <tr>
        <th>Symbol</th>
        <th>Company</th>
        <th>Latest Volume</th>
        <th>Latest Price</th>
        <th>Price Change</th>
        <th>Percent Change</th>
        <th>Change YTD</th>
        <th>In Portfolio</th>
        <th>Last Update</th>
    <tr>
    <% @securities.each do |sec| %>
        <tr>
            <td><%= link_to sec.symbol, security_path(sec), class:"table-link" %></td>
            <td><%= sec.companyName %></td>
            <td><%= sec.latestVolume %></td>
            <td><%= sec.latestPrice %></td>
            <td><%= sec.change %></td>
            <td><%= sec.changePercent.to_f.round(3) %>%</td>
            <td><%= sec.ytdChange %></td>
            <td><%= sec.watchlists.count > 0 ? "Yes" : "No" %></td>
            <td><%= sec.updated_at.strftime('%b %e, %Y at %l:%M%P') %></td>
        </tr>
    <% end %>
</table>
<%= form_tag(new_security_path, method: 'GET', enforce_utf8: false) do %>
    <%= submit_tag "Add to Watchlist", name: nil %>
<% end %>
<%= link_to "Add a new Security", new_security_path %>