<div class='form'><h1>Add to Watchlists</h1><br>
<%= form_for @security do |f| %>
    <p><%= f.label "Select Watchlist(s) for #{@security.symbol}:" %></p>
    <%= f.collection_check_boxes :watchlists, current_user.watchlists.all, :id, :name %>
    <br><br>
    <p><%= f.label :new_watchlist, "Or start a new Watchlist for #{@security.symbol}:" %></p>
    <%= f.fields_for :watchlists, @security.watchlists.build do |wl| %>
        <p><%= wl.label :name %></p>
        <%= wl.text_field :name %>
        <p><%= wl.label :description %></p>
        <%= wl.text_area :description %>
    <% end %>
    <br><br>
    <%= f.submit class: 'submit-btn' %>
<% end %>
</div>