<%= alert %>

<h1><%= @security.symbol %> - <%= @security.companyName %></h1>

<br><br><h2><u>Summary</u></h2><br>
<ul>
    <li>Latest Price: $<%= "%.2f" % @security.latestPrice.to_f %></li>
    <li>Change: $<%= "%.2f" % @security.change.to_f %> (<%= @security.changePercent.to_f.round(3) %>%)</li>
    <li>YTD Change: $<%= "%.2f" % @security.ytdChange.to_f %></li>
    <li>Latest Volume: <%= @security.latestVolume %></li>
    <li>Latest Update: <%= @security.latestUpdate %></li>
</ul>

<br>
<div class="button_list">
<h2><u>Actions</u></h2>
    <% if current_user.securities.include?(@security) %><br>
        <h4>Associated Watchlists:</h4><br>
        <ul><% current_user.watchlists.select{|wl| wl.security_id.eql?(@security.id)}.each do |watchlist| %>
            <li><%= form_tag("/watchlists/#{watchlist.id}", method: 'DELETE') do %>
                <%= hidden_field_tag :sec_id, @security.id %>
                <strong><%= link_to watchlist.name, watchlist_path(watchlist) %>:</strong>&nbsp;&nbsp; <i><%= watchlist.description %></i>&nbsp;&nbsp;-&nbsp; 
                <%= submit_tag "Remove from Watchlist" %>
            <% end %></li>
        <% end %></ul><br>
        <%= form_tag(new_security_watchlist_path(@security), method: 'GET', enforce_utf8: false) do %>
            <%= hidden_field_tag :sec_id, @security.id %>
            <%= submit_tag "Add to Watchlist", name: nil %>
        <% end %>
        <%= form_with(URL: "/securities/#{@security.id}", method: 'DELETE') do %>
            <%= submit_tag "Remove from Portfolio", class: "submit-btn" %>
        <% end %><br>
    <% else %>
        <%= form_tag(new_security_watchlist_path(@security), method: 'GET', enforce_utf8: false) do %>
            <%= hidden_field_tag :sec_id, @security.id %>
            <%= submit_tag "Add to Portfolio", name: nil %>
        <% end %>
    <% end %>
</div>

<%= render partial: 'users/errors', locals: {record:@security} %>
<%= flash[:message] %>
<br>
<h2><u>Full Security Data</u></h2>
<span style="position:relative;bottom:22px;left:155px"><%= form_for(@security, method: 'POST') do |f| %>
    <%= f.submit "Refresh Data", class: 'submit-btn' %>
<% end %></span>

<ul><% @security.attributes.each do |att, val| %>
    <li><strong><%= att %>:</strong> <%= val %></li>
<% end %></ul>