<%= alert %>

<h1><%= @security.symbol %> - <%= @security.companyName %></h1>

<br><br><h2>Summary</h2>
<ul>
    <li>Latest Price: <%= @security.latestPrice %></li>
    <li>Latest Volume: <%= @security.latestVolume %></li>
    <li>Latest Update: <%= @security.latestUpdate %></li>
    <li>Change: <%= @security.change %></li>
    <li>Change Percent: <%= @security.changePercent %></li>
    <li>YTD Change: <%= @security.ytdChange %></li>
</ul>



<br><br><h2>Actions</h2>
<div class="button-list">
    <% if current_user.securities.include?(@security) %><br>
        <h4>Associated Watchlists:</h4><br>
        <% current_user.watchlists.select{|wl| wl.security_id.eql?(@security.id)}.each do |watchlist| %>
            <ul><%= form_with(URL: "/watchlists/#{watchlist.id}", method: 'DELETE') do %>
                <li><%= watchlist.name %>: <%= watchlist.description %><%= submit_tag "Remove from Watchlist" %></li>
            <% end %></ul><br>
        <% end %>
        <%= form_tag(new_security_path, method: 'GET') do %>
            <%= hidden_field_tag :sec_id, @security.id %>
            <%= submit_tag "Add to additional Watchlists" %>
        <% end %><br>
        <%= form_with(URL: "/securities/#{@security.id}", method: 'DELETE') do %>
            <%= submit_tag "Remove from Portfolio" %>
        <% end %><br>
    <% else %>
        <%= form_tag(new_security_path, method: 'GET') do %>
            <% flash.keep(:passed_sec) %>
            <%= hidden_field_tag :sec_id, @security.id %>
            <%= submit_tag "Add to Portfolio" %>
        <% end %>
    <% end %>
</div>

<%= render partial: 'users/errors', locals: {record:@security} %>
<%= alert %>

<br><br><h2>Full Security Data</h2>
<%= form_for(@security, method: 'POST') do |f| %>
    <%= f.submit "Refresh Data", class: 'submit-btn' %>
<% end %>

<ol><% @security.attributes.each do |att, val| %>
    <li><strong><%= att %>:</strong> <%= val %></li>
<% end %></ol>