<div class="ipo-window">
    <%= link_to image_tag('/assets/IPO.jpg'), '#' %>
</div>

<div class="indicator-chart">
    <%= link_to image_tag('/assets/macd-indicator.png'), watchlists_path %>
</div>

<div class="hotlist">
    <%= link_to image_tag('/assets/Popular.jpg'), securities_path %>
</div>

<div class="headlines-box">
    <%= link_to image_tag('/assets/headline.jpg'), '#' %>
</div>

<div class="best-performing-box">
    <%= link_to image_tag('/assets/best-performing.jpg'), best_performing_securities_path %>
</div>
