<!DOCTYPE html>
<html>
  <head>
    <title>StockStack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="flex-container">
    <body>
      <header>
        <div class="site-menu">
          <%= link_to "Home", root_path %>
          <%= link_to "My Watchlists", 'placeholder' %>
          <%= link_to "IPO Center", 'placeholder' %>
          <%= link_to "Top Securities", 'placeholder' %>
        </div>
        <div class="site-title">
          <span id="site-title-img"><img src="/assets/StockStack_line2.png" alt="Welcome to StockStack!"></span>
        </div>
        <div class="profile">
            <%= link_to image_tag('/assets/DanLoki.jpeg'), user_path(User.first.id) %>
            <h3 style="position:relative;bottom:9%"><%= User.first.name %></h3>
        </div>
        <div class="marquis">
          <p><%= current_user.securities.collect {|s| "#{s.symbol}: #{s.change_percent}"}.join(" || ") %></p>
        </div>
      </header>

      <main>
        <%= yield %>
      </main>
      
      <footer>
      </footer>
    </body>
  </div>
</html>
