<!DOCTYPE html>
<html>
  <head>
    <title>StockStack</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <div class="flex-container">
    <body>
      <header>
        <div class="site-menu">
          # site menu
        </div>
        <div class="site-title">
          <span id="site-title-img"><img src="/assets/StockStack_line2.png" alt="Welcome to StockStack!"></span>
        </div>
        <div class="profile">
          # profile pic button
        </div>
        <div class="marquis">
          <% i = 0 %>
          <p><% while i < 50 do %>
            <%= "0123456789" %>
            <% i += 1 %>
          <% end %></p>
        </div>
      </header>

      <main>
        <%= yield %>
      </main>
      
      <footer>
      </footer>
    </body>
  </div>
</html>
